/************CONFIGS GERAIS************/

/*Importação fonte Poppins 400*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/*Importação fonte Open Sans*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*Cor e repetição de BG*/
body {
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    background-size: 100%;
}

/*Fontes*/
h1, p {
    font-family: "Poppins", sans-serif;
    color: #fff;
}

/*Botão de registro*/
.register-button {
    font-family: "Open Sans";
    background-color: #fff;
    color: hsl(257, 40%, 49%);
    width: 150px;
    height: 40px;
    border-radius: 50px;
    border: hsl(257, 40%, 49%)
}

/*Logotipo da nav*/
.logo {
    height: 5vh;
    margin: 20px;
}

/*Texto do footer*/
.footer-text {
    margin: 20px;
    font-size: 8px;
    text-align: center;
}

/*Icones do footer*/
.icons-container {
    display: flex;
    justify-content: flex-end;
    /*margin: 30px 40px 0 0;*/
}

.social-icon {
    filter: invert(1);
    width: 30px;
    margin: 10px;
}

.footer-text {
    font-size: 12px;
}

footer {
    margin: 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

footer a {
    text-decoration: none;
    color: #fff;
}

/************TELAS PEQUENAS************/
@media screen and (min-width: 280px) and (max-width: 767px) {
/*Corpo geral*/
body {
    background-image: url(./img/bg-mobile.svg);
}

/*Conteúdo da main*/
.illustration-wrapper, .illustration {
    margin: 20px auto;
    width: 80vw;
}

.main-text {
    margin: auto;
    width: 80vw;
    text-align: center;
}

h1 {
    font-size: 25px;
    font-weight: bold;
}

p {
    font-size: 16px;
}

.register-button {
    margin: auto;
}

.icons-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

footer {
    flex-wrap: wrap;
    justify-content: center;
}

.footer-text {
    font-size: 8px;
}

footer a:active{
    background-color: #e882e8;
    color: #fff;
}

}
/************TELAS GRANDES************/
@media (min-width: 768px) {

/*Corpo geral*/
body {
    background-image: url(./img/bg-desktop.svg);
}

/*Logotipo da nav*/
.logo {
    height: 7vh;
}

/*Conteúdo da main*/
main {
    display: flex;
    justify-content: space-between;
}

.register-button:hover, .footer-text a:hover{
    background-color: #e882e8;
    color: #fff;
}


.illustration-wrapper, .illustration {
    width: 50vw;
    margin: 0 10px 0;
}

.illustration-wrapper {
    padding: 100px 50px 0 100px;
}

.main-text {
    width: 30vw;
    padding: 100px 100px 0 0;
}

h1 {
    font-size: 30px;
}

p {
    font-size: 13px;
}

}